.footer {
	width: 100vw;
	height: 200px;
	background: var(--black);
	color: var(--white);
	display: flex;
	justify-content: center;
	align-items: end;
	padding-bottom: 18px;
	font-family: sans-serif;
}
